cmake
fairscale>=0.4.4
git+https://githubfast.com/WASasquatch/img2texture.git
git+https://githubfast.com/WASasquatch/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]
pilgram
git+https://githubfast.com/WASasquatch/ffmpy.git
rembg
scikit-image>=0.20.0
scikit-learn
scipy
timm>=0.4.12
tqdm
transformers
